@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 345 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 100% 35%;
    --muted: 0 0% 98.4%;
    --muted-foreground: 215 15% 71%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-primary selection:text-primary-foreground antialiased;
  }
}
